.show-container{
  padding: 50px;

h1{
  color: #ffffff;
}

p{
  color: #f3efef;
  font-size: 16px;
}
}

.qr-container{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  font-size: 16px;
  color: black !important;
}

.uploaded-content{
  padding: 35px;
  background: #f3efef;
  border-radius: 5px;
}


.share-options{
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #0000008c;
  color: #ffffff;
  text-shadow: 1px 1px 2px #5ABAAE;
}

.sharing-icon-card{
  background: #ffffff;
  padding: 20px;
  margin-top:20px;
  width: 100px;
  height: 100px;
  border-radius: 30px;
  box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.sharing-icon-card:hover{
  transform: translateY(5px);
  box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.sharing-icon-card:active{
  box-shadow: 0px 0px 0px #999999;
}

.modal-content{
  background-color: #2a2828;
  color: #ffffff;
}

.btn-close{
  background-color:#ffffff;
}

.modal-footer{
  font-size: 16px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .sharing-icon-card {
    padding: 10px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
  }
  .modal-footer{
    font-size: 14px;
  }
}
