.show-container{
  padding: 50px;

h1{
  color: white;
}

p{
  color: #f3efef;
  font-size: 16px;
}
}

.qr-container{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  list-style-type: none;
  margin-top: 30px;
  font-size: 16px;
  padding: 10px;
}

.uploaded-content{
  background: #f3efef;
  border-radius: 5px;
}
