.show-container{
  padding: 50px;

h1{
  color: white;
}

p{
  color: #f3efef;
  font-size: 16px;
}
}

.qr-container{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
