<footer id="footer" class="text-white d-flex-column text-center footer">
  <hr class="mt-0">
  <%= image_tag "navlogo.png", class: "footer-logo" %>
  <%# <!--Social buttons-->
  <div class="text-center footer-links">
    <ul class="list-unstyled list-inline">
      <li class="list-inline-item">
        <a target="_blank" href="#" class="sbtn btn-large mx-1" title="Facebook">
          <i class="fab fa-facebook-square fa-2x"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a target="_blank" href="# class="sbtn btn-large mx-1" title="Linkedin">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a target="_blank" href="#" class="sbtn btn-large mx-1" title="Twitter">
          <i class="fab fa-twitter-square fa-2x"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a target="_blank" href="#" class="sbtn btn-large mx-1" title="Youtube">
          <i class="fab fa-youtube-square fa-2x"></i>
        </a>
      </li>
    </ul>
  </div> %>
  <!--Copyright-->
  <div class=" text-center copyright">
    Ⓒ 2023 Health Pocket. All Rights Reserved.
  </div>
  <!--/.Copyright-->
</footer>
