<div class="logo-container d-flex">
 <div class = "app-title">
  <%= image_tag "splash_logo.png", class: "splash-logo img-fluid." %>
  <h1 class = "title">Health Pocket<h1>
  <p class = "app-slogan">Your health companion</p>
  </div>
</div>
