.logo-container{
  padding: 40px;
  padding-top: 100px;
  overflow: hidden;
}

.login-container{
  padding-top: 50px;
  overflow:hidden;
}


@media only screen and (max-width: 600px) {
  .login-container {
    padding-top: 100px;
  }
}
