.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 60
}

.material-symbols-outlined {
  text-align: center;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.material-symbols-outlined:hover{
color: #5c5470;
}
