.navbar-healthpocket {
  justify-content: space-between;
  background: #f8fafa;
}

.navbar-healthpocket .navbar-collapse {
  flex-grow: 0;
}

.navbar-healthpocket .navbar-brand img {
  width: 40px;
}
