.navbar-healthpocket {
  justify-content: space-between;
  background:#5ABAAE;
}

.navbar-healthpocket .navbar-collapse {
  flex-grow: 0;
}

.navbar-healthpocket .navbar-brand img {
  width: 40px;
  border-radius: 50px;
}
